<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Base Title</title>
  </head>
  <body>
    <nav
      style="
        background-color: gold;
        padding: 14px;
        margin: 15px;
        font-weight: bold;
        font-size: 25px;
        font-family: sans-serif;
      "
    >
      Common Navbar for every page
    </nav>
    {% block content %} {% endblock content %}
    <footer
      style="
        background-color: rgb(158, 2, 255);
        color: white;
        padding: 14px;
        margin: 15px;
        font-weight: bold;
        font-size: 25px;
        font-family: sans-serif;
      "
    >
      Common foooter for every page
    </footer>
  </body>
</html>
