{% extends 'app/base.html' %} {% block content %}
<h1>Create an Article</h1>
<a
  href=" {% url 'home' %} "
  style="
    border: 2px solid black;
    text-decoration: none;
    font-size: 18px;
    font-family: sans-serif;
    padding: 10px 20px;
    background-color: red;
    color: white;
  "
  >Cancel</a
>
<form action="" method="POST">
  {% csrf_token %} {{ form.as_p }}
  <button type="submit">Post Article</button>
</form>

{% endblock content %} {% block javascript %}
<script>
  const easyMDE = new EasyMDE({
    element: document.getElementById("id_content"),
    spellChecker: false,
    status: false,
    toolbar: [
      "bold",
      "italic",
      "heading",
      "|",
      "quote",
      "unordered-list",
      "ordered-list",
      "|",
      "link",
      "image",
      "|",
      "preview",
      "side-by-side",
      "fullscreen",
      "|",
      "guide",
    ],
    forcesync: true,
  });
</script>
{% endblock javascript %}
