{% extends 'app/base.html' %} {% block content %}

<form
  action=""
  method="POST"
  class="h-[100vh-28px] flex flex-col justify-center items-center mt-10"
>
  <h1 class="text-[35px] font-bold text-slate-800 mb-2">Delete Article</h1>
  <p class="text-slate-600 mb-2 text-[17px]">
    Are you sure you want to permanently delete
    <span class="font-semibold text-slate-700">"{{ article.title }}"</span>?
  </p>
  {% csrf_token %}
  <div class="buttons flex gap-3 mt-5 items-center justify-center w-[500px]">
    <a
      href="{% url 'home' %}"
      class="btn-base btn-success group transition-all duration-300 hover:-translate-y-1 inline-block w-[40%] py-2 text-center"
    >
      <i class="fa-solid fa-arrow-left right-1 relative"></i>
      No, Take Me Back
    </a>

    <button
      type="submit"
      class="btn-base btn-danger transition-all duration-300 hover:-translate-y-1 inline-block w-[40%] py-2 text-center"
    >
      <i class="fa-solid fa-trash right-1 relative"></i> Yes, Delete
    </button>
  </div>
</form>
{% endblock content %}
